.vscode/launch.json
.vscode/tasks.json
otus_hw6_base/bin/Debug/net5.0/otus_hw6_base.deps.json
otus_hw6_base/bin/Debug/net5.0/otus_hw6_base.dll
otus_hw6_base/bin/Debug/net5.0/otus_hw6_base.pdb
otus_hw6_base/bin/Debug/net5.0/otus_hw6_base.runtimeconfig.dev.json
otus_hw6_base/bin/Debug/net5.0/otus_hw6_base.runtimeconfig.json
otus_hw6_base/bin/Debug/net5.0/ref/otus_hw6_base.dll
otus_hw6_base/obj/otus_hw6_base.csproj.nuget.dgspec.json
otus_hw6_base/obj/otus_hw6_base.csproj.nuget.g.props
otus_hw6_base/obj/otus_hw6_base.csproj.nuget.g.targets
otus_hw6_base/obj/project.assets.json
otus_hw6_base/obj/project.nuget.cache
otus_hw6_base/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
otus_hw6_base/obj/Debug/net5.0/otus_hw6_base.AssemblyInfo.cs
otus_hw6_base/obj/Debug/net5.0/otus_hw6_base.AssemblyInfoInputs.cache
otus_hw6_base/obj/Debug/net5.0/otus_hw6_base.assets.cache
otus_hw6_base/obj/Debug/net5.0/otus_hw6_base.csproj.AssemblyReference.cache
otus_hw6_base/obj/Debug/net5.0/otus_hw6_base.csproj.CoreCompileInputs.cache
otus_hw6_base/obj/Debug/net5.0/otus_hw6_base.csproj.FileListAbsolute.txt
otus_hw6_base/obj/Debug/net5.0/otus_hw6_base.dll
otus_hw6_base/obj/Debug/net5.0/otus_hw6_base.GeneratedMSBuildEditorConfig.editorconfig
otus_hw6_base/obj/Debug/net5.0/otus_hw6_base.genruntimeconfig.cache
otus_hw6_base/obj/Debug/net5.0/otus_hw6_base.pdb
otus_hw6_base/obj/Debug/net5.0/ref/otus_hw6_base.dll
otus_hw6_base/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
otus_hw6_base/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
otus_hw6_base/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
otus_hw6_base/bin/Debug/net5.0/Microsoft.Extensions.Caching.Abstractions.dll
otus_hw6_base/bin/Debug/net5.0/Microsoft.Extensions.Caching.Memory.dll
otus_hw6_base/bin/Debug/net5.0/Microsoft.Extensions.Configuration.Abstractions.dll
otus_hw6_base/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
otus_hw6_base/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
otus_hw6_base/bin/Debug/net5.0/Microsoft.Extensions.Logging.Abstractions.dll
otus_hw6_base/bin/Debug/net5.0/Microsoft.Extensions.Logging.dll
otus_hw6_base/bin/Debug/net5.0/Microsoft.Extensions.Options.dll
otus_hw6_base/bin/Debug/net5.0/Microsoft.Extensions.Primitives.dll
otus_hw6_base/bin/Debug/net5.0/Npgsql.dll
otus_hw6_base/bin/Debug/net5.0/Npgsql.EntityFrameworkCore.PostgreSQL.dll
otus_hw6_base/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
otus_hw6_base/obj/Debug/net5.0/otus_hw6_base.csproj.CopyComplete
otus_hw6_base/.config/dotnet-tools.json
otus_hw6_base/obj/otus_hw6_base.csproj.EntityFrameworkCore.targets
otus_hw6_base/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
.gitignore
otus_hw6_base/bin/Debug/net5.0/Humanizer.dll
